html, body {
    background-color: #fff;
    color: #636b6f;
    /*font-family: 'Nunito', sans-serif;*/
    font-weight: 200;
    /*height: 100vh;*/
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links {
    padding: 2em;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    /*text-transform: uppercase;*/
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar.navbar-dark.bg-dark.shadow-sm {
    margin-bottom: 2em;
}

input[type="submit"] {
    color: #636b6f;
}
input[type="submit"]:hover {
    color: #09f;
}


.page-item.active .page-link {
    color: #09f;
    /*background-color: #dee2e6;*/
    background-color: #e9ecef;
    /*border-color: #ababb3;*/
    border-color: #dee2e6;
}
.page-link {
    color: #09f;
}



table.table {
    margin-bottom: 3rem;
}
table.table td,
table.table th {
    text-align: left;
}


.pagination {
    padding-left: .4em;
}
.pagination {
    font-size: .9em;
}
.page-link {
    padding: .3rem .6rem;
}