html, body {
    background-color: #fff;
    color: #636b6f;
    /*font-family: 'Nunito', sans-serif;*/
    font-weight: 200;
    /*height: 100vh;*/
    margin: 0;
    text-align: center;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links {
    padding: 2em;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    /*text-transform: uppercase;*/
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar.navbar-dark.bg-dark.shadow-sm {
    margin-bottom: 2em;
}

table.table input[type="submit"] {
    color: #1a6fa8;
    border: 0px solid transparent;
    background-color: transparent;
    cursor: pointer;
}
input[type="submit"] {
    color: #1a6fa8;
    border: 5px solid #cfd8e2;
    border-right-width: 17px;
    border-left-width: 17px;
    background-color: #cfd8e2;
    cursor: pointer;
}
input[type="submit"]:hover {
    color: #09f;
}


.page-item.active .page-link {
    color: #09f;
    /*background-color: #dee2e6;*/
    background-color: #e9ecef;
    /*border-color: #ababb3;*/
    border-color: #dee2e6;
}
.page-link {
    color: #09f;
}



table.table {
    margin-bottom: 3rem;
    table-layout: fixed;
}
table.table a {
    color: #636b6f;
}
table.table a:hover {
    color: #09f;
    text-decoration: none;
}
table.table td,
table.table th {
    text-align: left;
}
.block {
    display: block;
}
table.table tr th.ellipsis,
table.table tr td.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table.table tr th.tac,
table.table tr td.tac {
    text-align: center
}


.pagination {
    padding-left: .4em;
}
.pagination {
    font-size: .9em;
}
.page-link {
    padding: .3rem .6rem;
}


.empty_list {
    text-align: center;
    padding: 5%;
    margin: auto;
}

.toasts {
    position: absolute; top: 5em; right: 7em;
}
.toasts .toast {
    min-width: 300px;
}

.info {
    text-align: left;
    color: #cfd8e2;
}

.navbar .container a,
.login a {
    color: #636b6f;
    transition: all 0.5s ease-out 0s;
}

.navbar .container a:hover,
.login a:hover {
    color: #cfd8e2;
    text-decoration: none;
    transition: all 0.5s ease-out 0s;
}


.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #0099ff; /* цвет стрелочки (по умолчанию #000)*/
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #0099ff; /* цвет стрелочки (по умолчанию #000)*/
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #0099ff; /* цвет стрелочки (по умолчанию #000) */
}
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #0099ff; /* цвет стрелочки (по умолчанию #000) */
}
.tooltip-inner {
    max-width: 800px; /* максимальная ширина подсказки (по умолчанию 200px) */
    color: #fff; /* цвет шрифта */
    background-color: #0099ff; /* цвет фона (по умолчанию #000) */
    border-radius: 0.25rem; /* радиус скругдения углов */
}


.gray {
    color: #b5cae2;
}


